<div class="footer footer-home">
		<h5>Find me on
			<a href="https://github.com/{{ site.author.github }}"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
			and
			<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
		</h5>
		<!--div id="changetip_tipme_button" data-bid="PV5ADgwH5YWX5opUxrWcLQ" data-uid="mDtb3nGBZud7dRfdt4xG77"></div><script>(function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));</script-->
		<p>&copy; <?php echo date("Y"); ?> Crafted by HMN. All rights reserved.</p>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ site.url }}/javascripts/app.js"></script>
	<script src="{{ site.url }}/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	<script src="{{ site.url }}/javascripts/ie10-viewport-bug-workaround.js"></script>