<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author.name }}">
	<title>{{ page.title }}</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:600,800,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.url }}/bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.url }}/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/main.css">
	{% include svg-icons.html %}
	{% include analytics.html %}
</head>