<div class="header">
		<div class="container">
			<div class="row">
				<div class="logo col-md-12 col-xs-12">
					<p>Nifty__<a href="{{ site.url }}"><img src="{{ site.url }}/images/hedgehog_drawing.png"></a></p>	
				</div>
			</div>
			<nav class="navbar navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<h4 class="navbar-active-page pull-left">Projects</h4>					
						<button type="button" class="navbar-toggle collapsed navbar-inverse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle nav</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="{{ site.url }}">Home</a></li>
							<li><a href="{{ site.url }}/about">About</a></li>
							<li class="active active-page"><a href="{{ site.url }}/projects">Projects</a></li>
							<li><a href="{{ site.url }}/blog">Blog</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>